$custom-spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 9,
  11: $spacer * 14,
  12: $spacer * 20,
);
$spacers: map-merge($spacers, $custom-spacers);

$custom-colors: (
  "riot-red": #b50f1b,
);
$theme-colors: map-merge($theme-colors, $custom-colors);
