$btn-padding-x: 2rem;
$btn-padding-y: 1rem;
$border-radius: 0;
$input-focus-border-color: #b50f1b;
$input-focus-box-shadow: 0 0 0 0;
$form-select-focus-border-color: #b50f1b;
$form-select-focus-box-shadow: 0 0 0 0;
$form-select-box-shadow: 0 0 0 0;
$form-select-disabled-border-color: #b50f1b;
